/* add your CSS here */
#dolphinpic{
    width: 300px;
    height: 200px;
    display: block;
    margin: 10px auto;

    
}
#interestingfact{
    font-style: italic;
   color: black;
   margin-left: 10px;
   margin-right: 10px;
   
}
.label{

    font-weight: bold;
}
#items{

    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    
   
    
}

#first-frame{
    border: 1px blue solid;
    padding: 10px;
    width: 300px;
    margin: 10px auto;
    background: lightgrey;
     

}
#second-frame{

    border: 1px gray solid;
    padding: 10px;
}
#descinfo{
    margin-left: 10px;
    margin-right: 10px;

}